
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
           Django App
        {% endblock title %}
    </title>
    <script src="{% static 'js/main.js'%}"></script>
   <link rel="stylesheet" href="{% static 'css/style.css'%}?v=123">

</head>

<body>
   <nav>
         <a href="/">Home</a> |
         <a href="/about">About</a> |
         <a href="{% url 'posts:list' %}">Posts</a>
   </nav>
   <main>
        {% block content %}
        {% endblock content %}
   </main>
</body>

</html>